.PinquinRadio ul.stations {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.PinquinRadio ul.stations li {
  cursor: pointer;
  margin-bottom: 32px;
}

.PinquinRadio ul.stations li {
  padding-left: 12px;
  padding-right: 12px;
}
